*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  min-block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/*Лейаут*/

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
  padding-inline: 30px;
  padding-block: 133px;
}

.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__list {
  block-size: 298px;
  overflow: auto;
  position: relative;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  block-size: 100%;
  inline-size: 100%;
}

/*Уточнение размеров*/

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative;
}

.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-block: 2px;
  padding-inline: 2px;
}

.content__video-card-thumbnail {
  block-size: 103px;
  inline-size: 194px;
  object-fit: cover;
}

/*Тексты*/

.search-form__fieldset-title {
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.title {
  color: #fff;
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-block: 2px;
  margin-inline: 2px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
}

/* Элементы формы и кнопки */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Поля формы */

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  cursor: pointer;
}

.search-form__textfield {
  display: flex;
  min-inline-size: 225px;
  min-block-size: 27px;
  align-items: center;
  gap: 10px;
  background-color: inherit;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  border-inline-start: transparent;
  border-inline-end: transparent;
  color: rgb(255 255 255 / 0.7);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  margin-inline-end: 5px;
  cursor: pointer;
  position: relative;
}

/* Кнопки */

.button {
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.search-form__submit-button {
  min-inline-size: 194px;
  min-block-size: 34px;
  margin-block-start: 20px;
}

.more-button {
  min-inline-size: 399px;
  min-block-size: 34px;
}

/* Состояние элементов формы и кнопок */

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border-block-start: none;
  border-block-end: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  background-color: #fff;
  width: 15px;
  height: 15px;
}

.search-form__label:has(.search-form__checkbox):hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.search-form__submit-button:active {
  background-color: #545050;
}

.more-button:focus {
  outline: none;
}

.more-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.more-button:active {
  background-color: #545050;
}

/* Состояние карточек */

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}